# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.AppleDouble
.LSOverride
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
*~

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
/ios/.generated/
/ios/Flutter/flutter_export_environment.sh
/ios/Runner/GeneratedPluginRegistrant.*
.pub-cache/
.pub/
/build/
*.dart.js

# Web-specific
/web/**/*.map
/web/**/*.js
/web/**/*.js.deps
/web/**/*.js.map

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/.gradle/
/android/app/build/
/android/local.properties
/android/app/debug
/android/app/profile
/android/app/release
/android/**/gradle-app.setting
/android/**/gradle-wrapper.jar
/android/**/proguard/
/android/**/lint/
